// COLORS START
$hero-text-color: #D9D9D9;
$heading-title__color-white: #FFFFFF;
$body-bg-color: #151515;
$footer-bg-color: #242424;
$underline-color: #4EE1A0;
// COLORS END


// FONTS START
// FONT SIZE HEADING X_LARGE
$font-family: "Spase grotesk", sans-serif;
$hero-title-fs: 8.4rem;
$hero-title-fs-bot: 8.8rem;
$hero-title-fw: 700;
$hero-title-lh: 1;
$hero-title-ls: -2.5px;

// FONT SIZE HEADING LARGEf
$language-title-fs: 4.8rem;
$language-title-fw: 700;
$language-title-lh: 1.166;
$language-title-ls: -1.5px;

// FONT SIZE HEADING MEDIUM
$card-title-fs: 2.4rem;
$card-title-fw: 700;
$card-title-lh: 1.33;

// FONT SIZE TEXT
$text-fs: 1.8rem;
$text-fw: 500;
$text-lh: 1.55;
// FONT END